{% extends 'base-vitrine.html.twig' %}

{% block title %}CGU & RGPD {{ parent() }}{% endblock %}

{% block body %}
    <div class="col-12 col-md-12 col-lg-8 offset-lg-2 form-register">
        <div>
            <div class="mentions-legales-header  ">
                <img width="120" src="{{ asset('img/Logo_App_With_NT.png') }}" alt="Logo de namastest">
                <p>CGU & RGPD</p>
            </div>
            <div class="mentions-legales-container">
                <h4>CGU & RGPD - Politique de confidentialité</h4>
                <p>Chez MS Consulting , nous faisons de la protection des données de nos clients et partenaires une priorité. Il est important pour nous que vous compreniez comment nous traitons vos Données Personnelles et de quelle manière nous remplissons nos obligations en vertu des lois, règlement ou directives applicables en matière de protection des données (« Lois sur la protection des données »), notamment la loi Informatique et Libertés du 6 janvier 1978 modifiée et le Règlement (UE) Général sur la Protection des Données du 27 avril 2016 («RGPD »).</p>
                <p>La présente Charte de confidentialité s’applique aux traitements que nous effectuons sur vos Données Personnelles et décrit la manière dont elles sont collectées et traitées par MS Consulting via son site internet Namastest. Pour plus d’information concernant vos droits et la réglementation applicable aux traitements de données personnelles en général, rendez-vous sur le site de la CNIL.</p>
                <h5>1 - IDENTITÉ DU RESPONSABLE DE TRAITEMENT</h5>
                <p>MS Consulting agit en qualité de Responsable de Traitement, ce qui signifie que nous avons défini les usages et les conditions dans lesquelles vos Données Personnelles sont traitées. Nous n’utiliserons celles-ci que de manière loyale, légale, transparente et en conformité avec la législation sur la protection des données.</p>
                <h5>2 - TYPES DE DONNÉES COLLECTÉES ET FINALITÉ DU TRAITEMENT</h5>
                <h6>2.1- Nous collectons des données personnelles via notre formulaire de contact.</h6>
                <p>Ces données sont collectées afin de traiter vos demandes de contact ou de renseignements complémentaires auprès de MS Consulting.</p>
                <div>
                    <ul>Dans le cadre de votre navigation sur notre site nous traitons les Données Personnelles suivantes :</ul>
                    <ol>-> vos coordonnées ( adresse email).</ol>
                    <ol>-> votre message de demande d’informations.</ol>
                    <ol>-> vos données relatives à votre navigation sur notre site/plateforme (adresse IP,données de connexions et données de navigation).</ol>
                    <ol>-> vos données ne seront utilisées que pour traiter votre demande de contact et ne seront pas traitées ultérieurement de manière incompatible avec les finalités initialement prévues. Elles sont uniquement conservées pendant la durée nécessaire à la réalisation de ces finalités. Le caractère obligatoire ou facultatif des Données Personnelles qui vous sont demandées, ainsi que les conséquences en cas d’absence de réponse, sont précisés au moment de la collecte des données avec un astérisque (*).</ol>
                </div>
                <h6>2.2 - Nous collectons des données personnelles via notre formulaire d’inscription.</h6>
                <div>
                    <ul>Dans le cadre de votre navigation sur notre site nous traitons les Données Personnelles suivantes :</ul>
                    <ol>-> votre identité (nom, prénom).</ol>
                    <ol>-> vos coordonnées ( adresse email).</ol>
                    <ol>-> votre mot de passe est stockée mais n’est pas accessible par nos service, vous en êtes le seul détenteur (Article n°3 : COMPTE UTILISATEUR, MOT DE PASSE ET SÉCURITÉ).</ol>
                    <ol>-> vos données relatives à votre navigation sur notre site/plateforme (adresse IP,données de connexions et données de navigation).</ol>
                </div>
                <h5>3 - COMPTE UTILISATEUR, MOT DE PASSE ET SÉCURITÉ</h5>
                <p>Pour créer un compte sur Namastest, vous entrez votre adresse mail et choisissez un mot de passe.</p>
                <p>Votre compte Namastest vous est strictement personnel et vous vous interdisez de le partager ou le céder à qui que ce soit. Cela constitue une obligation essentielle de ce contrat.</p>
                <p>Vous êtes responsable de la conservation du caractère confidentiel de votre mot de passe et des actions qui sont effectuées sous votre Nom de Compte et/ou avec votre mot de passe : si vous ouvrez une session sur un ordinateur public, veillez à fermer votre session lorsque vous quittez cet ordinateur. Ne communiquez votre mot de passe à personne.</p>
                <h5>4 - DESTINATAIRES DES DONNÉES</h5>
                <p>Vos données personnelles ne seront traitées que par nos services internes. MS Consulting ne délivrera en aucun cas vos coordonnées à un tiers. Aucun transfert de données vers un pays tiers hors de l’Espace Économique Européen n’est réalisé. Ceci afin d’assurer une protection adéquate de vos données.</p>
                <h5>5 - SÉCURITÉ ET CONFIDENTIALITÉ DE VOS DONNÉES</h5>
                <p>MS Consulting met en œuvre des mesures appropriées pour préserver la sécurité et la confidentialité de vos données personnelles et, notamment, pour empêcher qu’elles soient déformées, endommagées ou que des tiers non autorisés y aient accès.</p>
                <h5>6 - COOKIES</h5>
                <p>Qu’est-ce qu’un Cookie ? Un cookie est un fichier permettant d’enregistrer des informations relatives à la navigation de votre ordinateur sur le site internet (ex. nombres de visites, nombre de pages vues…) et permet notamment de faciliter vos prochaines visites sur le site.</p>
                <h6>Types de cookies</h6>
                <p>Les cookies pouvant être installés sur votre ordinateur en naviguant sur le site sont de ce type :</p>
                <p>Cookies internes : permettent au site de fonctionner de manière optimale. Vous pouvez vous y opposer et les supprimer en utilisant les paramètres de votre navigateur, cependant votre expérience utilisateur risque d’être dégradée.</p>
                <h6>Comment maitriser les cookies ?</h6>
                <p>Lors de votre première visite sur le Site Internet, une bannière vous informe de l’utilisation de cookies sur les Sites Internet et vous invite à accepter de tels cookies. Les cookies ne seront déposés que si vous les acceptez. Vous pouvez à tout moment paramétrer les cookies utilisés sur le Site. Votre navigateur peut également être configuré pour vous informer des cookies placés sur votre logiciel de navigation et vous demander de les accepter ou non.</p>
                <p>Vous pouvez accepter ou refuser les cookies un par un ou les refuser systématiquement. À l’exception des cookies strictement nécessaires à l’exploitation de notre Site, tous les cookies expireront après un maximum de treize mois.</p>
                <h5>7 - VOS DROITS</h5>
                <p>Avant de procéder au traitement de vos données à caractère personnel et au plus tard au moment de la collecte de vos données à caractère personnel, nous vous informerons de la finalité du traitement relatif à vos données à caractère personnel, des destinataires de ces données, du délai de conservation appliqué à vos données à caractère personnel, ainsi que de vos droits dans ce contexte.</p>
                <p>Conformément aux Lois sur la protection des données, vous disposez d’un droit d’accès, de rectification, de limitation et, le cas échéant, de suppression de vos Données Personnelles. Vous pouvez également avoir le droit, pour des motifs légitimes, de vous opposer au traitement des Données Personnelles vous concernant. Vous disposez également d’un droit d’opposition, à la prospection commerciale.</p>
                <p>Veuillez adresser votre demande par courrier postal à l’adresse :</p>
                <p>MS Consulting 42 Avenue des Félibres 13012 MARSEILLE 12</p>
                <p>Ou par courriel : michael.sanchez@msconsulting-europe.com</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}