<li class="list" id="catalogue">
    <b></b>
    <b></b>
    <a href="{{ path('role_liste', {'projetId': projet.id}) }}" title="Liste des rôles">
        <span class="icon">
            <i class="fas fa-user-shield"></i>
        </span>
        <span class="title">
             Liste des rôles
        </span>
    </a>
</li>