<li class="list" id="campagnes">
    <b></b>
    <b></b>
    <a href="{{ path('participant_liste', {'projetId': projet.id}) }}" title="Liste des participants">
        <span class="icon">
            <i class="fas fa-users"></i>
        </span>
        <span class="title">
             Liste des participants
        </span>
    </a>
</li>