{# TODO : video ajouter un participant #}
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez alors cliquer sur le bouton
</span>
<span class="btn btn-primary py-2">
    <i class="fa fa-cog"></i>
</span>
<span class="text">
    sur un projet et cliquer sur "Gérer les participants" pour accéder à la liste des participants.
</span> <br>
<span class="text">
    Vous pouvez alors cliquer sur
</span>
<span class="btn btn-primary mt-1">
    <i class="fas fa-user-plus"></i>
    <span class="text-ab-link">Ajouter un nouveau participant</span>
</span>
<span class="text">
    pour ajouter un nouveau participant.
</span> <br>
<span class="text">
    Vous pouvez alors renseigner l'adresse email du participant (qu'il ait un compte de créé ou non), ainsi qu'un rôle pour ce nouveau participant.
</span> <br>
<span class="text">
    Vous pouvez ensuite cliquer sur le bouton Inviter envoyer l'invitation au nouveau participant. Un mail lui sera envoyé, lui proposant de créer un compte s'il n'en a pas. S'il a un compte, le mail l'informera de l'invitation à un projet. L'invitation apparaîtra dans la liste des projets du participant invité.
</span> <br>
<span class="text">
    De retour dans la liste des participants, vous pouvez consulter les invitations au projet et leur état. Vous pouvez également supprimer une invitation en cliquant sur le bouton
</span>
<span class="btn btn-red py-2 ms-1">
    <i class="far fa-trash-alt"></i>
</span>