{# TODO : video creation projet #}
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez alors cliquer sur le bouton
</span>
<span class="btn btn-primary">
    <i class="fa fa-plus"></i>
</span>
<span class="text">
    pour créer un projet.
</span> <br>
<span class="text">
    Renseignez un nom et appuyiez sur Créer pour lancer la création du projet.
</span> <br>
<span class="text">
    La création d'un projet génère plusieurs choses, elle peut donc être un peu lente !
</span> <br>
<span class="text">
    Une fois le projet créé, vous pouvez y accéder grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    ou le configurer grâce au bouton
</span>
<span class="btn btn-primary py-2">
    <i class="fa fa-cog"></i>
</span>