<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez alors cliquer sur le bouton
</span>
<span class="btn btn-primary py-2">
    <i class="fa fa-cog"></i>
</span>
<span class="text">
    sur un projet et cliquer sur "Gérer les rôles" pour accéder à la liste des rôles existants.
</span> <br>
<span class="text">
    En cliquant sur chaque rôle, vous pouvez consulter la liste des droits qui y sont liés. Vous pouvez cliquer sur le bouton
</span>
<span class="btn btn-red py-2 ms-1">
    <i class="far fa-trash-alt"></i>
</span>
<span class="text">
    pour supprimer ce rôle.
</span> <br>
<span class="text">
    Vous pouvez aussi cliquer sur le bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="far fa-edit"></i>
</span>
<span class="text">
    Pour éditer ce rôle. Vous pouvez alors choisir de modifier le libellé du rôle, ainsi que sélectionner les droits liés à ce rôle parmi ceux de la liste proposée. Une fois enregistré, le rôle sera modifié au sein du projet.
</span> <br>
<span class="text">
    De retour sur la liste des rôles, vous pouvez aussi cliquer sur
</span>
<span class="btn btn-primary mt-1">
    <i class="fas fa-user-plus"></i>
    <span class="text-ab-link">Ajouter un nouveau rôle</span>
</span>
<span class="text">
    pour ajouter un nouveau rôle.
</span> <br>
<span class="text">
    De même que pour la modification, choisissez un libellé pour votre nouveau rôle, et sélectionnez les droits qui lui seront attribués. Une fois enregistré, le rôle sera disponible au sein d'un projet.
</span>