{# TODO : video voir la liste des participants #}
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez alors cliquer sur le bouton
</span>
<span class="btn btn-primary py-2">
    <i class="fa fa-cog"></i>
</span>
<span class="text">
    sur un projet et cliquer sur "Gérer les participants" pour accéder à la liste des participants.
</span> <br>
<span class="text">
    Vous pouvez alors cliquer sur
</span>
<span class="btn btn-primary mt-1">
    <i class="fas fa-user-plus"></i>
    <span class="text-ab-link">Ajouter un nouveau participant</span>
</span>
<span class="text">
    pour ajouter un nouveau participant.
</span>