{# TODO : video sauvegarder et restaurer un projet #}
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez alors cliquer sur le bouton
</span>
<span class="btn btn-primary py-2">
    <i class="fa fa-cog"></i>
</span>
<span class="text">
    sur un projet et cliquer sur "Sauvegarde du projet" pour accéder à une page de sauvegarde.
</span> <br>
<span class="text">
    Vous arrivez sur une page de sauvegarde et de restauration. Vous pouvez cliquer sur le bouton "Télécharger le fichier de sauvegarde" pour obtenir un fichier CSV contenant les cas de tests, catalogues et campagnes de votre projet, exactement comme ils sont .
</span> <br>
<span class="text">
    Pour restaurer votre projet, cliquez sur le bouton "Choisir un fichier", sous le titre "Restaurer le projet". Choisissez alors un fichier de sauvegarde téléchargé précédemment.
</span> <br>
<span class="text">
    Cette opération supprimera tous les changements depuis que vous avez téléchargé le fichier de sauvegarde.
</span> <br>
<span class="text">
    Confirmez l'action, et le projet sera vidé, puis rempli de nouveau grâce au fichier que vous avez chargé.
</span> <br>