{# TODO : video ajouter et retirer des cas de test d'un catalogue #}
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des catalogues, en cliquant sur l'onglet "Catalogues de tests" du menu de gauche.
</span> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des catalogues de tests d'un projet.
</span>
<span class="text">
    En cliquant sur le bouton
</span>
<span class="btn btn-primary py-2">
    <i class="fa fa-cog"></i>
</span>
<span class="text">
    vous pouvez cliquer sur "Gérer les cas de test" pour ouvrir une fenêtre modale contenant l'ensemble des cas de test du projet.
</span> <br>
<span class="text">
    Vous pouvez alors sélectionner les cas de test que vous souhaitez voir apparaitre dans le catalogue, et désélectionner les cas de test que vous ne souhaitez pas voir apparaitre dans le catalogue. Vous pouvez alors cliquer sur enregistrer pour sauvegarder les modifications.
</span>
<span class="text">
    En cliquant sur le bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    vous pouvez accéder à la page de détail d'un catalogue.
</span> <br>
<span class="text">
    Pour ajouter un test au catalogue, vous pouvez cliquer sur le bouton "Ajouter un cas de test" pour accéder à un formulaire de création de cas de test. Vous devez renseigner un nom et une description pour ce cas de test, et lorsque vous cliquez sur "Créer", le cas de test sera automatiquement ajouté au catalogue.
</span> <br>
<span class="text">
    Pour retirer une sélection de cas de test du catalogue, vous pouvez sélectionner des tests et ensuite cliquer sur le bouton "Retirer des cas de test". Les cas de test seront retirés du catalogue, mais pas supprimés complètement du projet. Pour le supprimer complètement, vous devez le retrouver dans la liste des cas de test.
</span> <br>
<span class="text">
    Vous pouvez également cliquer sur le bouton
</span>
<a class="btn btn-red py-2">
    <i class="far fa-trash-alt"></i>
</a>
<span class="text">
    d'un test, afin de le retirer du catalogue individuellement.
</span>