{# TODO : video creer un catalogue #}
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des catalogues, en cliquant sur l'onglet "Catalogues de tests" du menu de gauche.
</span> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des catalogues de tests d'un projet.
</span>
<span class="text">
    En cliquant sur le bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-plus"></i>
</span>
<span class="text">
    vous pouvez accédez à la page de création d'un catalogue.
</span> <br>
<span class="text">
    Vous devez alors renseigner un libellé pour ce catalogue, et cliquer sur le bouton "Créer". Le catalogue est enregistré, et vous êtes redirigés sur la liste des catalogues.
</span>