{# TODO : video voir la liste des catalogues d'un projet #}
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des catalogues, en cliquant sur l'onglet "Catalogues de tests" du menu de gauche.
</span> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des catalogues de tests d'un projet.
</span> <br>
<span class="text">
    Sur cette page, vous pouvez créer un catalogue, modifier et supprimer un catalogue, ainsi qu'en rechercher un par son libellé.
</span> <br>
<span class="text">
    En cliquant sur le bouton
</span>
<span class="btn btn-primary py-2">
    <i class="fa fa-cog"></i>
</span>
<span class="text">
    Vous pouvez effectuer plusieurs actions : <br>
    <span class="text">
        -  Vous pouvez gérer les cas de test présents dans le catalogue : une fenêtre s'ouvre, vous permettant de sélectionner les tests que vous souhaitez voir apparaître dans votre catalogue (ceux que vous désélectionnez seront retirés du catalogue).
    </span> <br>
    <span class="text">
        -  Vous pouvez modifier le libelle d'un catalogue
    </span> <br>
    <span class="text">
        -  Vous pouvez supprimer un catalogue
    </span>
</span> <br>
<span class="text">
    En cliquant sur le bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    vous pouvez accédez au détail d'un catalogue
</span>