{# TODO : video modifier un catalogue #}
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des catalogues, en cliquant sur l'onglet "Catalogues de tests" du menu de gauche.
</span> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des catalogues de tests d'un projet.
</span>
<span class="text">
    En cliquant sur le bouton
</span>
<span class="btn btn-primary py-2">
    <i class="fa fa-cog"></i>
</span>
<span class="text">
    vous pouvez cliquer sur "Modifier le catalogue" afin de modifier le libellé du catalogue.
</span> <br>
<span class="text">
    Vous également cliquer sur le bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    pour accéder au détail du catalogue, puis cliquer sur le bouton "Modifier le catalogue" afin de modifier le libellé du catalogue.
</span>