{# TODO : video ajout de cas de test à un catalogue #}
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des cas de test, en cliquant sur l'onglet "Cas de test" du menu de gauche.
</span> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des cas de tests d'un projet.
</span> <br>
<span class="text">
    Comme indiqué dans les informations affichées sur la page, vous pouvez sélectionner des tests, sélectionner des catalogues,
    et ensuite cliquer sur le bouton bleu foncé <button class="btn btn-lg btn-tres-fonce mt-1 mb-1"><i class="fas fa-folder-open"></i> Ajouter à des catalogues</button>
    près de la recherche de cas de test.
    Une fenêtre modal va s'ouvrir permettant de sélectionner les catalogues auxquels vous souhaitez ajouter les test.
</span>
<span>
    La modal vous permet de sélectionner les catalogues qui contiendront les cas de test ont été sélectionné
</span>
<span>Cliquer sur le bouton <button class="btn btn-tres-fonce mt-3 mb-3">Ajouter</button> pour ajouter vos cas de tests aux différents catalogues</span>