{# TODO : video creer un cas de test #}
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des cas de test, en cliquant sur l'onglet "Cas de test" du menu de gauche.
</span> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des cas de tests d'un projet.
</span> <br>
<span class="text">
    Vous pouvez cliquer le bouton "Créer un cas de test" en haut de la page, et vous accéderez à un formulaire permettant de renseigner le nom et la description du cas de test. Une fois enregistré, le cas de test se trouvera en fin de liste.
</span>