{# TODO : video creer un cas de test #}
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des cas de test, en cliquant sur l'onglet "Cas de test" du menu de gauche.
</span> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des cas de tests d'un projet.
</span> <br>
<span class="text">
    Vous pouvez cliquer le bouton <button class="btn btn-lg btn-primary"><img width=35" src="{{ asset('img/Excel.png') }}" alt=""> Importer des tests via Excel</button> en haut de la page, et vous accéderez à un formulaire.
</span> <br>
<span class="text">
    Vous pouvez obtenir un fichier type <a href="#" class="btn btn-lg btn-green-fonce text-center m-1 mb-3">CSV</a>
    ou <a href="#" class="btn btn-lg btn-green-fonce text-center m-1 mb-3">XLSX</a>
    qui sera à remplir avant son importation en cliquant sur l'un des deux boutons.
</span> <br>
<span class="text">
    Vous pouvez ajouter le fichier que vous souhaitez importer et cliquer le bouton <button class="btn btn-lg btn-green-fonce">Importer</button> pour l'importer.
</span>