{# TODO : video liste des templates #}
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des cas de test, en cliquant sur l'onglet "Cas de test" du menu de gauche.
</span> <br> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des cas de tests d'un projet.
</span> <br> <br>
<span class="text">
    Vous pouvez modifier un cas de test, en cliquant sur le bouton
</span>
<a class="btn btn-fonce py-2">
    <i class="far fa-edit"></i>
</a>
<span class="text">
    vous accédez alors à un formulaire de modification de ce cas de test. Vous pouvez modifier son nom et sa description.
</span> <br>
<span class="text">
    Vous pouvez utiliser le glisser-déposer pour réordonner la liste des cas de tests. Vous pouvez également rechercher un cas de test par son nom.
</span>