{# TODO : video supprimer des cas de tests #}
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des cas de test, en cliquant sur l'onglet "Cas de test" du menu de gauche.
</span> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des cas de tests d'un projet.
</span> <br>
<span class="text">
    Comme pour ajouter les cas de test à un catalogue, vous pouvez en sélectionner plusieurs, et cliquer sur le bouton
    <button class="btn btn-lg btn-red deleteLink mt-1 mb-1"><i class="fas fa-trash-alt"></i> Supprimer</button>, près du bouton "Ajouter". Les tests seront supprimés complètement.
</span>