<li class="list" id="campagnes">
    <b></b>
    <b></b>
    <a href="{{ path('campagnes_liste', {'idProjet': projet.id}) }}" title="Campagnes de test">
        <span class="icon">
            <i class="fas fa-receipt"></i>
        </span>
        <span class="title">
             Campagnes de test
        </span>
    </a>
</li>