<li class="list" id="test-list">
    <b></b>
    <b></b>
    <a href="{{ path('templates_test_liste', {'id' : projet.id}) }}" title="Cas de test">
        <span class="icon">
            <i class="far fa-list-alt"></i>
        </span>
        <span class="title">
            Cas de test
        </span>
    </a>
</li>