<li class="list" id="catalogue">
    <b></b>
    <b></b>
    <a href="{{ path('catalogue_liste', {'projetId': projet.id}) }}" title="Catalogues de tests">
        <span class="icon">
            <i class="fas fa-folder-open"></i>
        </span>
        <span class="title">
             Catalogues de tests
        </span>
    </a>
</li>