{# TODO : video clôturer une campagne #}
<span class="text">
    Lorsque vous clôturez une campagne, son état passe à "Clôturée" et par conséquent plusieurs actions ne sont plus disponibles. Vous ne pourrez plus exécuter des tests (changer leur état et ajouter des précisions).
</span> <br>
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des campagnes, en cliquant sur l'onglet "Campagnes de test" du menu de gauche.
</span> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des campagnes de test d'un projet.
</span> <br>
<span class="text">
    En cliquant sur le bouton
</span>
<span class="btn btn-hard-fonce py-2">
    <i class="far fa-stop-circle"></i>
</span>
<span class="text">
    vous pouvez clôturer une campagne "En cours".
</span> <br>
<span class="text">
    Vous pouvez également accéder à une campagne "En cours" grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et cliquer sur le bouton
</span>
<span class="btn btn-primary py-2">
    <i class="far fa-stop-circle"></i>
</span>
<span class="text">
    pour clôturer la campagne.
</span>