{# TODO : video exécuter une campagne #}
<span class="text">
    Lorsqu'une campagne est en cours, vous pouvez exécuter les tests de celle-ci. Vous pouvez changer l'état d'un test ainsi qu'ajouter des précisions sur chaque test de la campagne.
</span> <br>
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des campagnes, en cliquant sur l'onglet "Campagnes de test" du menu de gauche.
</span> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des campagnes de test d'un projet.
</span> <br>
<span class="text">
    En cliquant sur le bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    vous pouvez accéder au détail d'une campagne. Choisissez une campagne en cours afin de pouvoir exécuter les tests ou référez vous à la section "Démarrer une campagne" pour changer l'état d'une campagne en préparation.
</span> <br>
<span class="text">
    Une fois dans le détail d'une campagne, vous pouvez sélectionner plusieurs tests d'un coup et choisir leur état dans le menu déroulant. Une fois le bouton "Enregistrer" cliqué, l'état des tests sera mis à jour.
</span> <br>
<span class="text">
    Vous pouvez également cliquer sur le bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="far fa-edit"></i>
</span>
<span class="text">
    près de chaque test pour exécuter le test individuellement. Vous accéderez alors à une page permettant de changer l'état du test, ainsi que d'ajouter des précisions à celui-ci.
</span>
<span class="text">
    Vous pouvez également cliquer sur le bouton
</span>
<span class="btn btn-green py-2">
    <i class="fas fa-check-double"></i>
</span>
<span class="text">
    près de chaque test pour le valider individuellement (OK) ou alors cliquer sur le bouton
</span>
<span class="btn btn-red py-2">
    <i class="fas fa-times"></i>
</span>
<span class="text">
    près de chaque test pour le refuser individuellement (KO).
</span>