{# TODO : video voir les campagnes #}
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des campagnes, en cliquant sur l'onglet "Campagnes de test" du menu de gauche.
</span> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des campagnes de test d'un projet.
</span>
<span class="text">
    En cliquant sur le bouton
</span>
<span class="btn btn-primary py-2">
    <i class="fa fa-plus"></i>
</span>
<span class="text">
    vous accédez à un formulaire de création de campagnes. Vous devez obligatoirement choisir un nom pour la campagne. Vous pouvez optionnellement entrer une description, une date de début et de fin pour la campagne. Ces dates sont des estimations de votre part, elles n'ont aucune incidence sur le démarrage et la clôture d'une campagne.
</span> <br>
<span class="text">
    Validez la création en cliquant sur le bouton "Créer". Vous êtes redirigés sur la liste des campagnes, vous pouvez d'ores et déjà commencer à la préparer !
</span>