
{# TODO : video modifier une campagne #}
<span class="text">
    Seulement les campagnes ayant un état "En préparation" sont modifiables !
</span>
<br>
<br>
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des campagnes, en cliquant sur l'onglet "Campagnes de test" du menu de gauche.
</span> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des campagnes de test d'un projet.
</span>
<span class="text">
    En cliquant sur le bouton
</span>
<span class="btn btn-primary py-2">
    <i class="fa fa-cog"></i>
</span>
<span class="text">
    puis en sélectionnant "Modifier", vous accédez à un formulaire de modification de la campagne. Le nom pour la campagne ne peut pas être vide. Vous pouvez modifier la description, la date de début et de fin pour la campagne. Ces dates sont des estimations de votre part, elles n'ont aucune incidence sur le démarrage et la clôture d'une campagne.
</span> <br>
<span class="text">
    Validez la création en cliquant sur le bouton "Modifier". Vous êtes redirigés sur le détail de la campagne, vous pouvez continuer à la préparer !
</span>
<span class="text text-weight-bold">
    Vous pouvez aussi la modifier sur la page de détail ; accédez à la campagne grâce au bouton
</span>
<span class="btn btn-primary py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    puis en cliquant sur "Modifier la campagne", vous accédez à un formulaire de modification de la campagne. Le nom pour la campagne ne peut pas être vide. Vous pouvez modifier la description, la date de début et de fin pour la campagne. Ces dates sont des estimations de votre part, elles n'ont aucune incidence sur le démarrage et la clôture d'une campagne.
</span> <br>
<span class="text">
    Validez la création en cliquant sur le bouton "Modifier". Vous êtes redirigés sur le détail de la campagne, vous pouvez continuer à la préparer !
</span>