Lors de la préparation d'une campagne, vous pouvez modifier la campagne, supprimer et ajouter des cas de test et catalogues.
<br><br>
{# ENCORE UN NOUVEAU ACCORDION #}
<div class="accordion accordion-flush" id="accordionFlushPrepCampagne">
    <div class="accordion-item">
        <h2 class="accordion-header" id="campagne-prep-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#campagne-prep-collapseOne" aria-expanded="false" aria-controls="campagne-prep-collapseOne">
                Ajouter une sélection de cas de test d'un catalogue à une campagne
            </button>
        </h2>
        <div id="campagne-prep-collapseOne" class="accordion-collapse collapse" aria-labelledby="campagne-prep-headingOne">
            <div class="accordion-body">
                {# TODO : video Ajouter une sélection de cas de test d'un catalogue à une campagne #}
                <span class="text">
                    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
                </span> <br>
                <span class="text">
                    Vous pouvez accéder à un projet grâce au bouton
                </span>
                <span class="btn btn-fonce py-2">
                    <i class="fa fa-arrow-up"></i>
                </span>
                <span class="text">
                    et, si vous avez les droits, vous pouvez visualiser la liste des catalogues, en cliquant sur l'onglet "Catalogues de tests" du menu de gauche.
                </span> <br>
                <span class="text">
                    Vous pouvez alors visualiser l'ensemble des catalogues de tests d'un projet.
                </span> <br>
                <span class="text">
                    En cliquant sur le bouton
                </span>
                <span class="btn btn-fonce py-2">
                    <i class="fa fa-arrow-up"></i>
                </span>
                <span class="text">
                    vous pouvez accéder à la page de détail d'un catalogue.
                </span> <br>
                <span class="text">
                    Pour ajouter une sélection de cas de test à une campagne, vous pouvez cliquer sur le bouton "Ajout à campagne" pour afficher une section contenant un menu déroulant, rempli de la liste des campagnes "En préparation".
                </span> <br>
                <span class="text">
                    Sélectionnez des cas de test, ou tous les cas de test et une campagne, et cliquez sur le bouton "Ajouter". Les tests seront ajoutés à la campagne sélectionnée. Vous pouvez cacher la section contenant la liste des campagnes en cliquant sur le bouton "Cacher les campagnes".
                </span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="campagne-prep-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#campagne-prep-collapseTwo" aria-expanded="false" aria-controls="campagne-prep-collapseTwo">
                Ajouter un test à la campagne
            </button>
        </h2>
        <div id="campagne-prep-collapseTwo" class="accordion-collapse collapse" aria-labelledby="campagne-prep-headingTwo">
            <div class="accordion-body">
                {# TODO : video Ajouter un test à la campagne #}
                <span class="text">
                    L'ajout de test à une campagne n'est disponible que lorsque la campagne est en préparation.
                </span>
                <span class="text">
                    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
                </span> <br>
                <span class="text">
                    Vous pouvez accéder à un projet grâce au bouton
                </span>
                <span class="btn btn-fonce py-2">
                    <i class="fa fa-arrow-up"></i>
                </span>
                <span class="text">
                    et, si vous avez les droits, vous pouvez visualiser la liste des campagnes, en cliquant sur l'onglet "Campagnes de test" du menu de gauche.
                </span> <br>
                <span class="text">
                    Vous pouvez alors visualiser l'ensemble des campagnes de test d'un projet.
                </span> <br>
                <span class="text">
                    En cliquant sur le bouton
                </span>
                <span class="btn btn-fonce py-2">
                    <i class="fa fa-arrow-up"></i>
                </span>
                <span class="text">
                    vous pouvez accéder à la page de détail d'une campagne.
                </span> <br>
                <span class="text">
                    Cliquez sur le bouton "Ajouter un test". Vous accédez alors à une page de création de test. Vous pouvez choisir un cas de test parent pour ce test, ainsi qu'optionnellement un nouveau nom et une nouvelle description. Si vous ne choisissez aucun cas de test parent, le nom et la description sont obligatoires.
                </span> <br>
                <span class="text">
                    Une fois le test rédigé, cliquez sur le bouton "Créer". Vous serez redirigé sur le détail de la campagne, et vous pourrez alors le retrouver à la fin de la liste des tests.
                </span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="campagne-prep-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#campagne-prep-collapseThree" aria-expanded="false" aria-controls="campagne-prep-collapseThree">
                Ajouter tout un catalogue à la campagne
            </button>
        </h2>
        <div id="campagne-prep-collapseThree" class="accordion-collapse collapse" aria-labelledby="campagne-prep-headingThree">
            <div class="accordion-body">
                {# TODO : video Ajouter tout un catalogue à la campagne #}
                <span class="text">
                    L'ajout d'un catalogue à une campagne n'est disponible que lorsque la campagne est en préparation.
                </span>
                <span class="text">
                    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
                </span> <br>
                <span class="text">
                    Vous pouvez accéder à un projet grâce au bouton
                </span>
                <span class="btn btn-fonce py-2">
                    <i class="fa fa-arrow-up"></i>
                </span>
                <span class="text">
                    et, si vous avez les droits, vous pouvez visualiser la liste des campagnes, en cliquant sur l'onglet "Campagnes de test" du menu de gauche.
                </span> <br>
                <span class="text">
                    Vous pouvez alors visualiser l'ensemble des campagnes de test d'un projet.
                </span> <br>
                <span class="text">
                    En cliquant sur le bouton
                </span>
                <span class="btn btn-fonce py-2">
                    <i class="fa fa-arrow-up"></i>
                </span>
                <span class="text">
                    vous pouvez accéder à la page de détail d'une campagne.
                </span> <br>
                <span class="text">
                    Cliquez sur le bouton "Ajouter un catalogue". Un menu déroulant contenant la liste des catalogues s'affiche. Vous pouvez sélectionner un catalogue et cliquer sur le bouton "Ajouter". Le catalogue sera alors ajouté à la suite des tests déjà présents dans la campagne. Si vous voulez cacher le menu déroulant, cliquez sur le bouton "Annuler".
                </span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="campagne-prep-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#campagne-prep-collapseFour" aria-expanded="false" aria-controls="campagne-prep-collapseFour">
                Supprimer une sélection de test de la campagne
            </button>
        </h2>
        <div id="campagne-prep-collapseFour" class="accordion-collapse collapse" aria-labelledby="campagne-prep-headingFour">
            <div class="accordion-body">
                {# TODO : video Supprimer une sélection de test de la campagne #}
                <span class="text">
                    L'ajout de test à une campagne n'est disponible que lorsque la campagne est en préparation.
                </span>
                <span class="text">
                    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
                </span> <br>
                <span class="text">
                    Vous pouvez accéder à un projet grâce au bouton
                </span>
                <span class="btn btn-fonce py-2">
                    <i class="fa fa-arrow-up"></i>
                </span>
                <span class="text">
                    et, si vous avez les droits, vous pouvez visualiser la liste des campagnes, en cliquant sur l'onglet "Campagnes de test" du menu de gauche.
                </span> <br>
                <span class="text">
                    Vous pouvez alors visualiser l'ensemble des campagnes de test d'un projet.
                </span> <br>
                <span class="text">
                    En cliquant sur le bouton
                </span>
                <span class="btn btn-fonce py-2">
                    <i class="fa fa-arrow-up"></i>
                </span>
                <span class="text">
                    vous pouvez accéder à la page de détail d'une campagne.
                </span> <br>
                <span class="text">
                    Sélectionnez plusieurs tests et cliquez sur le bouton "Supprimer des tests". Une fenêtre de confirmation s'affichera, une fois la confirmation validée, les tests seront supprimés de la campagne.
                </span> <br>
                <span class="text">
                    Vous pouvez également cliquer sur le bouton
                </span>
                <span class="btn btn-red py-2">
                    <i class="fa fa-trash"></i>
                </span>
                <span class="text">
                    d'un test pour le supprimer individuellement de la campagne.
                </span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="campagne-prep-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#campagne-prep-collapseFive" aria-expanded="false" aria-controls="campagne-prep-collapseFive">
                Supprimer et modifier un test dans une campagne
            </button>
        </h2>
        <div id="campagne-prep-collapseFive" class="accordion-collapse collapse" aria-labelledby="campagne-prep-headingFive">
            <div class="accordion-body">
                {# TODO : video Supprimer et modifier un test dans une campagne #}
                <span class="text">
                    L'ajout de test à une campagne n'est disponible que lorsque la campagne est en préparation.
                </span>
                <span class="text">
                    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
                </span> <br>
                <span class="text">
                    Vous pouvez accéder à un projet grâce au bouton
                </span>
                <span class="btn btn-fonce py-2">
                    <i class="fa fa-arrow-up"></i>
                </span>
                <span class="text">
                    et, si vous avez les droits, vous pouvez visualiser la liste des campagnes, en cliquant sur l'onglet "Campagnes de tests" du menu de gauche.
                </span> <br>
                <span class="text">
                    Vous pouvez alors visualiser l'ensemble des campagnes de tests d'un projet.
                </span> <br>
                <span class="text">
                    En cliquant sur le bouton
                </span>
                <span class="btn btn-fonce py-2">
                    <i class="fa fa-arrow-up"></i>
                </span>
                <span class="text">
                    vous pouvez accéder à la page de détail d'une campagne.
                </span> <br>
                <span class="text font-weight-bold">
                    Pour supprimer un test
                </span> <br>
                <span class="text">
                    Cliquez sur le bouton
                </span>
                <span class="btn btn-red py-2">
                    <i class="fa fa-trash-alt"></i>
                </span>
                <span class="text">
                    d'un test pour le supprimer individuellement de la campagne.
                </span> <br>
                <span class="text font-weight-bold">
                    Pour modifier un test
                </span> <br>
                <span class="text">
                    Cliquez sur le bouton
                </span>
                <span class="btn btn-primary py-2">
                    <i class="fa fa-edit"></i>
                </span>
                <span class="text">
                    d'un test pour accéder à sa page de modification. Vous pouvez alors change le nom et la description d'un test ainsi que son parent.
                </span>
            </div>
        </div>
    </div>
</div>
{# FIN DE ENCORE UN NOUVEAU ACCORDION #}