{# TODO : video consulter les résultats d'une campagne #}
<span class="text">
    Les résultats d'une campagne sont consultables uniquement sur les campagnes clôturées ou en cours.
</span> <br>
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des campagnes, en cliquant sur l'onglet "Campagnes de test" du menu de gauche.
</span> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des campagnes de test d'un projet.
</span> <br>
<span class="text">
    Pour une campagne ayant l'état "Clôturée"  : en cliquant sur le bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    vous pouvez accéder à une campagne ayant l'état "Clôturée".
</span> <br>
<span class="text">
    Les résultats de la campagne seront affichés sur la page de détail.
</span>
<span class="text">
    Pour une campagne ayant l'état "En Cours"  : en cliquant sur le bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    vous pouvez accéder à une campagne ayant l'état "En Cours".
</span> <br>
<span class="text">
    Cliquez ensuite sur le bouton "Statistiques de la campagne'
</span> <br>
<span class="text">
    Les détails de la campagne seront affichés.
</span>