{# TODO : video supprimer une campagne #}
<span class="text">
    Seulement les campagnes n'ayant pas un état "En cours" sont supprimables !
</span>
<br>
<br>
<span class="text">
    Lorsque vous vous connectez, vous atterrissez sur la liste des projets.
</span> <br>
<span class="text">
    Vous pouvez accéder à un projet grâce au bouton
</span>
<span class="btn btn-fonce py-2">
    <i class="fa fa-arrow-up"></i>
</span>
<span class="text">
    et, si vous avez les droits, vous pouvez visualiser la liste des campagnes, en cliquant sur l'onglet "Campagnes de test" du menu de gauche.
</span> <br>
<span class="text">
    Vous pouvez alors visualiser l'ensemble des campagnes de test d'un projet.
</span>
<span class="text">
    En cliquant sur le bouton
</span>
<span class="btn btn-primary py-2">
    <i class="fa fa-cog"></i>
</span>
<span class="text">
    puis en sélectionnant "Supprimer", vous accédez à un fenêtre de confirmation. Une fois la confirmation validée, la campagne et toutes ses données seront supprimées.
</span>