<div class="modal fade" id="exampleModale" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabele">Supprimer mon compte</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer votre compte ?</p>
                <p>- Cette opération est définitive</p>
                <p>- Vos projets et les éléments rattachés à ceux-ci seront eux aussi définitivement supprimés</p>
                <p>- Veuillez saisir votre adresse mail pour valider la suppression du compte</p>
                {{ form_start(deleteForm, {'action': path('utilisateur_delete')}) }}
                {{ form_widget(deleteForm) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn mt-1 btn-red m-1" >Supprimer mon compte</button>
            </div>
        </div>
    </div>
</div>